{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}

<style>
  body {
    background-color:#E8EAF6;
  }
  </style>
  
<div class="container" style="height:100vh">
  <div class="row justify-content-center h-100">
      <div class="col align-self-center text-center card text-balack bg-jellyho my-3" style="max-width: 25rem;">
        <br>
       <h1 style="font-family: 'Staatliches', cursive;color:#336491;">SUYEON'S BLOG</h1>
        <div class="card-body">
        <p>로그아웃 하시겠습니까?</p>
        <form method="post" action="{% url 'account_logout' %}">
          {% csrf_token %}
          {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
          {% endif %}
          <button type="submit"  style="background-color:#336491; border: #336491; color:white;
          width: 60px;height: 30px;font-size:11px;"
          >{% trans 'Sign Out' %}</button>
        </form>
        
        </div>
      </div>
  </div>


{% endblock %}
