{% extends 'base.html' %}
{% load static %}
{% block content %}

<style>
    body {
      background-color:#E8EAF6;
      font-family:'Gowun Dodum', sans-serif;
    }
    </style>
<center>
<div class="mypage">
     <h3><br><br><br>👋{{user.username}}님 안녕하세요👋</h3><Br>
        <h5>✏ 내가 쓴 글 ✏</h5>
        <section class="mine">
         {% for post in posts %}
         <a href="{% url 'main:detail' post.id %}" style="text-decoration:none;color:black;">{{post.title}}</a><br>

         {% endfor %}
        </section>

     <br>
     <h5> ♡ 내가 좋아요 누른 글 ♡ </h5>
     <section class="mine">
            {% for like in like_list %}
            <a href="#" style="text-decoration:none;color:black;">{{ like.post.title }}</a><br>
            {% endfor %}
     </section>
    </div>  
</center>    
{% endblock %}
