{% extends 'base.html' %}

{% block content %}

<div class="detail">
    <h3> {{ post.writer }} </h3>
    <h2>날짜 : {{post.pub_date}}</h2> <br>
    <h1>{{post.title}}</h1>



    {% if post.image %}
    <div class="photo"><img src="{{ post.image.url }}" alt="사진" width="300" height="250"> </div>
    {% endif %}
    <p>{{post.body}}</p>
    <button style="background-color:#336491; border: #336491; color:white;
    width: 80px;height: 40px;font-size:15px;position:relative;top:50px;"><a href="{%url 'post_edit' post.id%}"
            style="text-decoration: none;color:white;">수정하기</a></button>
    <button style="background-color:#336491; border: #336491; color:white;
    width: 80px;height: 40px;font-size:15px;position:relative;top:50px;left:5px;"><a href="{%url 'post_delete' post.id%}"
            style="text-decoration: none;color:white;">삭제하기</a></button>


    <div class=comment>
        <div>
            <form action="{%url 'create_comment2' post.id%}" method="POST">
                {%csrf_token%}
                <textarea name="content" placeholder="댓글내용입력" style="width:800px;height:90px;border: 2px solid #000000;"></textarea>
                <input type="submit" value="확인"style="background-color:#336491; border: #336491; color:white;
                width: 80px;height: 40px;font-size:15px; position:relative; left:30px; top:-10px">
            </form>
        </div>

        <div>
            {% for comment2 in comment2s %}
            <div>
                {{comment2.writer}}
                <br>
                {{comment2.content}}
                <br>
                <hr>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}