{% extends 'base.html' %}

{% block content %}

<style>
    body {
      background-color:#E8EAF6;
    }
    </style>
    
<div class="detail">
    
    {% if post.writer %}
   {% if 'user' in post.writer.username %}
     <h3>{{ post.writer.last_name }}{{ post.writer.first_name }}</h3>
   {% else %}
      <h3>{{ post.writer }}</h3>
   {% endif %}
{% else %}
 <h3>알 수 없음</h3>
 {% endif %}

    <h2>날짜 : {{post.pub_date}}</h2> <br>
    <h1>{{post.title}}</h1>
    <h2>장르 : {{post.genre}}</h2>
    <h2>평점:{{post.test_list}}</h2>
    <h2>한줄평 : {{post.summary}}</h2>
 
    {% if post.image %}
        <div class="photo"><img src="{{ post.image.url }}" alt="사진" width="auto" height="250px"> </div>
    {% endif %}    
    <p>{{post.body|linebreaksbr}}</p>
    
    <span href="#" class="like" name ="{{post.id}}" value="Like">
        {% if user in post.like_user_set.all %}
            <div class="alt-service-icon">
                <i class="fas fa-thumbs-up" id ="like-icon" style="color:#F44336;"></i>
            </div>
        {% else %}
            <div class="alt-service-icon">
                <i class="far fa-thumbs-up" id ="like-icon" style="color:#F44336;"></i>
            </div>
        {% endif %}
            <span id="count-{{ post.id }}" class="alt-services-title font-alt">
            {% if post.like_count == 0 %}
                0
            {% else %}
                {{ post.like_count }}
             {% endif %}
            </span> 
     </span>
     <span href="#" class="dislike" name ="{{post.id}}" value="Dislike" >
        {% if user in post.dislike_user_set.all %}
            <div class="alt-service-icon">&nbsp;&nbsp;
                <i class="fas fa-thumbs-down" id ="dislike-icon" style="color:#1A2372;"></i>
            </div>
        {% else %}
            <div class="alt-service-icon">&nbsp;&nbsp;
                <i class="far fa-thumbs-down" id ="dislike-icon" style="color:#1A2372;"></i>
            </div>
        {% endif %}
            <span id="count2-{{ post.id }}" class="alt-services-title font-alt">
            {% if post.dislike_count == 0 %}
            &nbsp;&nbsp;&nbsp;&nbsp;0
            {% else %}
            &nbsp;&nbsp;&nbsp;&nbsp;{{ post.dislike_count }}
             {% endif %}
            </span>
     </span> <br><br>
     {% if user == post.writer %}
    <button style="background-color:#336491; border: #336491; color:white; width: 80px;height: 40px;font-size:15px;
    " >
        <a href="{%url 'main:edit' post.id%}" style="text-decoration: none;color:white;">수정하기</a></button>
    <button style="background-color:#336491; border: #336491; color:white; width: 80px;height: 40px;font-size:15px;
   ">
        <a href="{%url 'main:delete' post.id%}" style="text-decoration: none;color:white;">삭제하기</a></button>
        <h1><br><br></h1>
    {% endif %}
{% if user.is_authenticated %}
<div class="comment">
   <div>
     <form action="{%url 'main:create_comment' post.id%}" method="POST">
      {%csrf_token%}
      <textarea name="content" placeholder="댓글내용입력" style="width:800px;height:90px;border: 2px solid #000000;" ></textarea>
      <input type="submit" value="확인" style="background-color:#336491; border: #336491; color:white; width: 80px;height: 40px;font-size:15px; position:relative; left:30px; top:-10px">
     </form>
    </div>

    <div>
    {% for comment in comments %}
    <div>
       
        {% if comment.writer %}
        {% if 'user' in comment.writer.username %}
          <div>{{ comment.writer.last_name }}{{ comment.writer.first_name }}</div>
        {% else %}
           <div>{{ comment.writer }}</div>
        {% endif %}
     {% else %}
      <div>알 수 없음</div>
      {% endif %}
      {% if user == comment.writer %}
       <a href="{%url 'main:edit_comment' comment.id %}"><i class="fa-solid fa-pen" style="position: relative;top:-23px;left:100px;color:black;">
    </i></a>
            <a href="{% url 'main:delete_comment' comment.id %}"><i class="fa-solid fa-trash-can" style="position: relative;top:-23px;left:105px;color:black;">

            </i></a>
    {% endif %}
    <br>
    {{comment.content}}
  
   
    <hr>

    {% endfor %}
    </div>

</div>
{% else %} 
<button style="background-color:#336491; border: #336491; color:white;
            width: 300px;height: 40px;font-size:15px;">
<a href="{% url 'account_login' %}" style="text-decoration: none;font-size:20px;color:white;
 font-family: 'Gowun Dodum', sans-serif;">로그인하고 댓글작성하기</a></button>
{% endif %}
</div>

<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script>
    $(".like").click(function(){
        var pk=$(this).attr('name')
        $.ajax({
             type:'POST',
            url:"{% url 'main:like_toggle' post.pk %}",
            data:{'pk':pk,'csrfmiddlewaretoken':'{{csrf_token}}'},
            dataType:'json',
            success:function(response){
                if(response.like_count==null){
                    alert('로그인이 필요합니다.');
                     window.location.replace('/accounts/login/');
                }
                else{
                    if(response.result=='like'){
                       $('#like-icon').removeClass();
                        $('#like-icon').addClass('fas fa-thumbs-up');
                    }
                    else{
                         $('#like-icon').removeClass();
                        $('#like-icon').addClass('far fa-thumbs-up');
                     }
                    $('#count-{{post.id}}').html(''+response.like_count+"");
                 }
            },
             error:function(request, status, error){
                alert("로그인이 필요합니다.")
                alert('code:'+request.status+'\n'+'message:'+request.responseText+"\n"+"error:"+error);
            },
         })
    })
</script>
<script>
    $(".dislike").click(function(){
        var pk=$(this).attr('name')
        $.ajax({
             type:'POST',
            url:"{% url 'main:dislike_toggle' post.pk %}",
            data:{'pk':pk,'csrfmiddlewaretoken':'{{csrf_token}}'},
            dataType:'json',
            success:function(response){
                if(response.dislike_count==null){
                    alert('로그인이 필요합니다.');
                     window.location.replace('/accounts/login/');
                }
                else{
                    if(response.result=='dislike'){
                       $('#dislike-icon').removeClass();
                        $('#dislike-icon').addClass('fas fa-thumbs-down');
                    }
                    else{
                         $('#dislike-icon').removeClass();
                        $('#dislike-icon').addClass('far fa-thumbs-down');
                     }
                    $('#count2-{{post.id}}').html('&nbsp;&nbsp;&nbsp;&nbsp;'+response.dislike_count+"");
                 }
            },
             error:function(request, status, error){
                alert("로그인이 필요합니다.")
                alert('code:'+request.status+'\n'+'message:'+request.responseText+"\n"+"error:"+error);
            },
         })
    })
</script>

{% endblock %}   