{% extends 'base.html' %}

{% block content %}

     <div class="container">
                <div class="sec">
                    <center><img src="https://postfiles.pstatic.net/MjAyMjA3MjFfMTMx/MDAxNjU4Mzg3NDg2NzA3.pRjgp3IAXyCheTs-i5C3GOGWRvYJMI5ygyOvujGzrmYg.PSYBgmai990cI7qFf25BlOLWvPeTIAkRb-DeZwv_hM4g.JPEG.hansuyeon23/C8515C8F-A8CC-4130-9D8A-E8D94DCE2734.jpeg?type=w773"
                        height="300"width="300"></center>
                        <h1 class="title"> 한수연 </h1>
                </div>
    </div>
            <div class="sec"> 동국대학교 역사교육과 22학번 <br>
                생일 : 2003년 6월 23일 <br> 
                동아리 :멋쟁이 사자처럼<br></div>
            <div class="sec"></div>
            <div class="sec"></div>
            <div class="sec"></div>
            <div class="sec"></div>
            <div class="sec"></div>
            <div class="sec">
                <h3>Thanks For Watching :) </h3>
            </div>
            <div class="content">
                     <span style="--i:1;"> <h3 class="introduce">
                       </h3></span>
                    <span style="--i:2;">t</span>
                    <span style="--i:3;">i</span>
                    <span style="--i:4;">c</span>
                    <span style="--i:5;">x</span>
                    <span style="--i:6;">y</span>
                
            </div>
    </div>

 {% endblock %}  