{% extends 'base.html' %}

{% block content %}
        <section class="banner">
           
            <a name=tag1><div class="sec" name="tag1">
                <div>
                <table>
                    <th> <img src="https://postfiles.pstatic.net/MjAyMjA3MjFfMTMx/MDAxNjU4Mzg3NDg2NzA3.pRjgp3IAXyCheTs-i5C3GOGWRvYJMI5ygyOvujGzrmYg.PSYBgmai990cI7qFf25BlOLWvPeTIAkRb-DeZwv_hM4g.JPEG.hansuyeon23/C8515C8F-A8CC-4130-9D8A-E8D94DCE2734.jpeg?type=w773"
                        height="300"width="300"></th>
                    <tr>
                        <td><center><br> <h2>한수연 </h2></center></td>
                       
                </table></div>
                <h1>&nbsp;&nbsp;&nbsp;</h1>
                    <div class="box">
                     <p><br>
                        동국대학교 역사교육과 22학번 <br>
                        생일 : 2003년 6월 23일 <br>                                 
                        활동: 멋쟁이 사자처럼<br>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;탁본준비위원회<br>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;한국미술사학회 온누리<br>
                        instargram : suyeon_626<br>
                        e-mail : hansuyeon23@naver.com</p> 
                    </div>
                    <h6 style="position:absolute;bottom:0px;">📝 INFORMATION 📝</h6>
                </div></a>

            <div class="sec"> <a name="tag2">
                <div class="effect-wrap">
                    <a href="{%url 'main:movie' %}">
                    <figure class="effect5">
                        <img src="https://postfiles.pstatic.net/MjAyMjA3MjRfMjk5/MDAxNjU4NjAxMDI5NzI3.RlLwEqswEx8dkGUo8jmSTKKbohmKcD2HP48Wjl6EhjUg.uVarA8K2KcwZCHNcQK8bbwYHy1GpBJ89f5K6--upg6Mg.PNG.hansuyeon23/image.png?type=w773" alt="">
                       <figcaption>
                        <h4>보러가기</h4>
                    </figure>
                </a>
                  </div>
                  <h4 style="position:relative;left:-130px;top:180px;">영화보기</h4>
                  
                  <img src="https://postfiles.pstatic.net/MjAyMjA3MjRfMjg1/MDAxNjU4NjAyNDUzMzAw.TndX0zXlp8Vl2FdQ50scsxGlQe6oGgvBixXC7RSlFc4g.QEPkAGpaBgrGwoCW37fgkoiN_ONDV-w3CHi1bplOHigg.PNG.hansuyeon23/image.png?type=w773"
                  height="150px" width="150px">
                  <h4 style="position:relative;left:-120px;top:180px;">파란색</h4> 
                  <div class="effect-wrap">
                    <a href="{%url 'main:picture' %}">
                    <figure class="effect5">
                  <img src="https://postfiles.pstatic.net/MjAyMjA3MjRfMjg5/MDAxNjU4NjA0MDE0Nzc1.Pr6BLmqIzcOEdHdANfhlUGQ_vucMD7z_oFJ82ijUw8Qg.gD-S-f8UA5xnFTK4mztZUV8vX90gL7Ecupi1n1cd9CUg.PNG.hansuyeon23/image.png?type=w773"
                  height="150px" width="150px">
                        <figcaption>
                            <h4>보러가기</h4>
                        </figcaption>
                    </figure>
                    </a>
                  </div>    
                  <h4 style="position:relative;left:-110px;top:180px;">여행</h4>
                  <img src="https://postfiles.pstatic.net/MjAyMjA3MjRfMTMx/MDAxNjU4NjA0MTIwNzQy.MmDObk0HDmFu6gGlX50W-5ocq8Ml3JwV3XmftkOWnYEg.6HpX9g3u-5uQ568NMhgq90zDFWOoJ6i_mL8tXecd9u8g.PNG.hansuyeon23/image.png?type=w773"
                  height="150px" width="150px">
                  <h4 style="position:relative;left:-100px;top:180px;">음악</h4>
                  <h6 style="position:absolute;bottom:0px;">💙 FAVORITES 💙</h6>
                  <p style="position:absolute;bottom:10px;font-size:10px;">❗이미지를 클릭하시면 페이지로 이동합니다❗</p>
                  </div>
            </div>

            <div class="content">
                <h2>
                    <span style="--i:1;"></span>
                    <span style="--i:2;"></span>
                </h2>
            </div>

            
        </section>





 {% endblock %}  