{% extends 'base.html' %}

{% block content %}

<style>
body {
  background-color:#E8EAF6;
}
</style>


<div class="main">
  <center>
    <h1><br><br></h1>
    <h3 style="text-align: left;font-family: 'Gowun Dodum', sans-serif;font-weight: bolder;color:#336491;">&nbsp;&nbsp;&nbsp;&nbsp;
    영화 리뷰</h3>
    <p style="font-size:13px;text-align:left;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      ❗로그인 후 댓글작성, 글쓰기가 가능합니다❗</p>
  <table class="movie">
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Gaegu&family=Gowun+Dodum&display=swap');
      </style>
    <thead>
      <tr>
        <th class="title">영화 제목</th>
        <th class="genre">장르</th>
        <th class="score">평점</th>
        <th class="summary">한줄평</th>
      </tr>
    </thead>
    <tbody>
      {% for post in posts %}
      <tr>
        <td class="제목"><a href="{% url 'main:detail' post.id %}"
            style="text-decoration: none;color:black;">{{post.title}}</a></td>
        <td class="장르">{{post.genre}}</td>    
        <td class="평점">{{post.test_list}}</td>
        <td class="한줄평">{{post.summary}}</td>
      </tr>
      {%endfor%}
    </tbody>
  </table>
  </center>
  {% if user.is_authenticated %}
  <div class="button">
    <button style="background-color:#336491; border: #336491; color:white;
                  width: 80px;height: 40px;font-size:25px; position:relative; top: 20px;left:90%"><a href="{% url 'main:new' %}"
        style="text-decoration: none;color:white; font-family:'Gowun Dodum', sans-serif; font-size:20px;">글쓰기</a></button>
  </div>
  {% else %}
  {% endif %}   
  
      {% endblock %}
</div>
