{% extends 'base.html' %}

{% block content %}



<div class="main">
  <table class="movie">
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Gaegu&family=Gowun+Dodum&display=swap');
      </style>
    <thead>
      <tr>
        <th class="title">영화/연극 제목</th>
        <th class="genre">장르</th>
        <th class="score">평점</th>
        <th class="summary">한줄평</th>
      </tr>
    </thead>
    <tbody>
      {% for blog in blogs %}
      <tr>
        <td class="제목"><a href="{% url 'detail' blog.id %}"
            style="text-decoration: none;color:black;">{{blog.title}}</a></td>
        <td class="장르">{{blog.genre}}</td>    
        <td class="평점">{{blog.test_list}}</td>
        <td class="한줄평">{{blog.summary}}</td>
      </tr>
      {%endfor%}
    </tbody>
  </table>
  <div class="button">
    <button style="background-color:#336491; border: #336491; color:white;
                  width: 100px;height: 60px;font-size:25px; position:absolute; top:200px; left:1150px;"><a href="{% url 'new' %}"
        style="text-decoration: none;color:white;">글쓰기</a></button>
  </div>

  <div>

    {% endblock %}