{% extends 'base.html' %}

{% block content %}


<style>
    body {
      background-color:#E8EAF6;
    }
    </style>
    
<div class="write">
<form action="{% url 'main:create' %}" method="post" enctype="multipart/form-data">
    {%csrf_token%}
    <p>영화 제목 : <input type="text" name="title" style="width:800px;height:30px;border: 2px solid #000000;" ></p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    장르: <input type="text" name="genre" style="width:800px;height:30px;border: 2px solid #000000;" ></p>
    <p>한줄 요약: <input type="text" name="summary" style="width:800px;height:30px;border: 2px solid #000000;" ></p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        사진 : <input type="file" name="image" ></p>
    <div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        평점 :&nbsp;<input type="checkbox" name="test_list" value="⭐"> ⭐
        &nbsp;<input type="checkbox" name="test_list" value="⭐ ⭐ ">  ⭐ ⭐
        &nbsp;<input type="checkbox" name="test_list" value="⭐ ⭐ ⭐"> ⭐ ⭐ ⭐
        &nbsp;<input type="checkbox" name="test_list" value="⭐ ⭐ ⭐ ⭐"> ⭐ ⭐ ⭐ ⭐
        &nbsp;<input type="checkbox" name="test_list" value="⭐ ⭐ ⭐ ⭐ ⭐ "> ⭐ ⭐ ⭐ ⭐ ⭐
        
    </div>
   
    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        내용 : <textarea type="text" name="body" placeholder="내용을 입력하세요" style="width:800px;height:278px;border: 2px solid #000000;" ></textarea> </p>
    <button type="submit" style="background-color:#336491; border: #336491; color:white;
     width: 80px;height: 40px;font-size:15px; position:absolute; left:900px;top: 540px;">완료</button>
</form>
</div>

{% endblock %}

