<nav>
    <ul class="nav-container">
      <li class="nav-item"> <a style="font-family:'Staatliches', cursive;
        text-decoration: none; color:#336491;text-shadow: 3px 3px #97b6d3;font-weight:bolder;font-size:23px;
        position: fixed;top:23px;left:15px;"  href="{% url 'main:introduce'%}">
        SUYEON'S BLOG</h1></a></li>
      <li class="nav-item"><a style="color:#336491;" href="{% url 'main:introduce' %}#tag1">Information</a></li>
      <li class="nav-item"><a style="color:#336491;" href="{% url 'main:introduce' %}#tag2">Favorites</a></li>
      <li class="nav-item"><a style="color:#336491;" href="{% url 'main:movie' %}#tag1">Posts</a></li>
      {% if user.is_authenticated %}
      <li class="nav-item"><a style="color:#336491;" href="{% url 'users:mypage' %}">Mypage</a></li>
      <li class="nav-item"><a style="position: fixed;top:23px;right:15px;font-size:20px;color:#336491;">{{ user.username }}님
      &nbsp;&nbsp;&nbsp;</a></li>
      <li class="nav-item">
        <a href="{% url 'account_logout' %}" style="text-decoration: none;color:#336491;font-size: 20px;
        position: fixed;top:23px;right:15px">
          <i class="fa-solid fa-right-to-bracket"></i></li>             
      </a>
        
      {% else %}
      <li class="nav-item">
        <a href="{% url 'account_login' %}" style="text-decoration: none;font-size:20px;color:#336491;
        position: fixed;top:23px;right:15px">
          <i class="fa-solid fa-right-from-bracket"></i></a>
       <a href="{% url 'account_signup' %}" style="text-decoration: none;color:#336491;font-size:20px;
       position: fixed;top:23px;right:50px">
        <i class="fa-solid fa-user-plus"></i></a></li>
      {% endif %}   
    </ul>
  </nav>  